---
permalink: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>valdezdata blog</title>
  <subtitle>Desbloqueando el Potencial de los Datos</subtitle>
  <link href="https://valdezdata.com/feed.xml" rel="self"/>
  <link href="https://valdezdata.com/"/>
  <updated>{{ "now" | date }}</updated>
  <id>https://valdezdata.com/</id>
  <author>
    <name>VALDEZDATA</name>
  </author>
  {%- for post in collections.posts | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://valdezdata.com{{ post.url }}"/>
    <updated>{{ post.date | date }}</updated>
    <id>https://valdezdata.com{{ post.url }}</id>
    <content type="html"><![CDATA[{{ post.templateContent | safe }}]]></content>
  </entry>
  {%- endfor %}
</feed>
