---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "Posts tagged with #{{ tag }}"
---

<h2 class="command-prompt">> find . -name "*{{ tag }}*"</h2>

<div class="tag-header">
  <p>Posts tagged with <span class="tag">#{{ tag }}</span></p>
</div>

<div class="post-list">
  {% set taglist = collections[tag] %}
  {% for post in taglist | reverse %}
    <article class="post-item">
      <h2 class="post-title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <div class="post-meta">
        <time datetime="{{ post.date | dateFormat }}">{{ post.date | dateFormat }}</time>
        {% if post.data.tags %}
          • 
          {% for posttag in post.data.tags %}
            {% if posttag != "post" %}
              <span class="tag">{{ posttag }}</span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="post-excerpt">
        {% if post.data.excerpt %}
          {{ post.data.excerpt }}
        {% else %}
          {{ post.templateContent | striptags | truncate(150) }}
        {% endif %}
      </div>
      <a href="{{ post.url }}" class="read-more">Read more ></a>
    </article>
  {% endfor %}
</div>

<div class="tag-navigation">
  <p><a href="/tags/">> cd ../</a></p>
</div>
